@charset "UTF-8";
@import "variables";

.app {
    .header {
        position: relative;
        background: @bg-gradient;
        color: #fff;
    }
    .footer {
        position: relative;
        background: @bg-gradient;
        color: #fff;
    }
}
