@charset "UTF-8";
@import "variables";

.login{
    width: 100%;
    height: 100%;
    position: relative;
    .form-warp{
        margin: 20px auto;
        width: 410px;
        background: #FFFFFF;
        border-radius: 10px;
        .title{
            padding: 20px;
            font-size: 20px;
            color: @color-primary;
            text-align: center;
            border-bottom: 1px solid #EDAE5D;
        }
        .form{
            padding: 10px 30px;
            .form-item{
                border: 1px solid #EDAE5D;
                border-radius: 4px;
                line-height: 16px;
                padding: 15px;
            }
        }
    }

}
