@charset "UTF-8";
@import "variables";

.login{
    width: 100%;
    height: 100%;
    position: relative;
    .form-warp{
        margin: 20px auto;
        width: 410px;
        background: #FFFFFF;
        border-radius: 10px;
        .title{
            padding: 20px;
            font-size: 20px;
            color: @color-primary;
            text-align: center;
            border-bottom: 1px solid #EDAE5D;
        }
        .form{
            padding: 10px 30px;
            .form-item{
                border: 1px solid #EDAE5D;
                border-radius: 4px;
                line-height: 20px;
                padding: 12px;
                margin-top: 16px;
                label{
                    margin-bottom: 0;
                }
                .icon{
                    width: 16px;
                    height: 20px;
                    margin-right: 10px;
                }
                .input{
                    padding: 0 10px;
                }

            }
            .code-item{
                margin-top: 16px;
                .input-code{
                    border: 1px solid #EDAE5D;
                    border-radius: 4px;
                    line-height: 20px;
                    padding: 12px;
                }
                .image-code{
                    width: 130px;
                    margin-left: 16px;
                    letter-spacing: 8px;
                    cursor: pointer;
                }
                #input-code{
                    text-align: center;
                }
            }
            .err-info{
                color: #D0011B;
                line-height: 20px;
                padding-top: 10px;
                height: 30px;
            }
            .btn-warp{
                margin-top: 20px;
                .btn-login{
                    width: 100%;
                    height: 45px;
                    font-size: 20px;
                }
            }
        }
    }

}
