@charset "UTF-8";
@import "variables";

.purchase {
    width: 100%;
    min-height: 100%;
    position: relative;
    background-color: #fff;
    .form-content {
        padding: 20px 30px;
        .form-item {
            margin-bottom: 10px;
            .form-label {
                width: 140px;
            }
            .form-input {

            }
            .select-purchase {
                width: 300px;
                padding: 3px 10px;
                border: 1px solid #EDAE5D;
            }
            .btn-purchase {
                margin-top: 30px;
                width: 200px;
            }
            .input-purchase{
                padding: 3px 10px;
                width: 200px;
                border: 1px solid #EDAE5D;
            }
        }
    }
}
